/* src/styles/MatchCard.css */
.match-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .match-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .match-details {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .match-details p {
    margin: 5px 0;
  }
  
  /* src/styles/MatchList.css */
  .match-list {
    padding: 20px;
  }
  
  .match-list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .match-list p {
    font-size: 1.2rem;
    color: red;
  }
  